:root{
  font-size: 20px;
}

body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid rgb(115, 115, 114);
}

.blue-text {
  color: skyblue;
}

.pink-text{
  color: rgb(255, 192, 203)
}

.decoration{
  font-size: 20px;
  line-height: 1.2;
}

#basic p{
  font-weight: bold;
}

p {
  font-weight: normal;
}

 